.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 1em;
    max-width: 1200px;
}

.Workspace-title {
    text-align: center;
    font-size: 0.5em;
    width: 100%;
}
